:root{
    --primary-color:#0a1118;
    --primary-color-highlight:#233d54;
    --bs-body-bg: #FBFCF8;
    
}

/* navigation bar */
.navbar{
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index:4;

}

.dropdown-nav__closeNavBtn{
    position: absolute;
    top: 20px;
    right:16px;
    background-color: rgbA(255,255,255,0.6);
}

.footer .border-highlight{
    border-top:1px solid var(--primary-color-highlight)
}

.footer{
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
}

.font__logo{
    font-family: 'Hurricane', cursive;
    font-size: 52px;
    font-weight: 500;
}
.body__header{
    margin: auto;
    padding-top: 150px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    background-color: yellow;
}

.body__text{
    margin:auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    background-color: yellow;
    color: black;    

}

@media (max-width:544px){
    .font__logo{
        font-size: 30px;
    }
}

@media (min-width:200px) and (max-width:543px){
    body h1{
        font-family: 'Hurricane', cursive;
        font-size: 23px;
        font-weight: 500;
    }
}

@media (min-width:544px) and (max-width:768px){
    body h1{
        font-family: 'Hurricane', cursive;
        font-size: 52px;
        font-weight: 500;

    }
}
@media (min-width:769px){
    body h1{
        font-family: 'Hurricane', cursive;
        font-size: 62px;
        font-weight: 500;
    }
}

body h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body h3{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    font-weight: 300;
}

body h2{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

body p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#events{
    padding-bottom: 100px;
}



.booking__container{
    padding-top: 60px;
    padding-bottom: 100px;
}

.explore__button{
    position: relative;
    text-align: center;
    padding-top: 40px;
}
.button__text{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.events__heading-container{
    /*position: absolute;*/
    /*top: 25px;*/
    /*left: 70px;*/
    color:white;
    align-items: center;
    /*max-width: 400px;*/
}

.events__content-row{
    color: white;
    align-items: center;
    background-color: ;
}
.events__content-row ul{
    position: relative;
    list-style: none;
    top: 45px;
}

.events__header-row{ 
    align-items: center;
    height: 300px;
}

/*
.events__content-row li{
    position: relative;
    left:30px;
    top: 30px;
}
*/

.content__column{
    position: relative;
    text-align: center;
    left:200px;
    top:45px;
    width:300px;
    height: 250px;
}

.events__container{
    position: relative;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    justify-content: center;
    background-color: black;
}

.booking__widget{
   margin-top: 40px;
}