:root{
    --primary-color:#0a1118;
    --primary-color-highlight:#233d54;
    --bs-body-bg: #FBFCF8;
    /*--bs-body-font-family:"Poppins", sans-serif;*/
}

body h1{
    font-family: "Code", sans-serif;
}
body h2{
    font-family: "Code", sans-serif;
    color:#233d54;
}
body p{
    font-family:'Poppins', sans-serif;
}
/* navigation bar */
.navbar{
    position:fixed;
    left:0;
    top:0;
    right:0;
    background-color: rgb(255,247,231);
    z-index:4;
}

.dropdown-nav__closeNavBtn{
    position: absolute;
    top: 20px;
    right:16px;
    background-color: rgbA(255,255,255,0.6);
}