:root{
    --primary-color:#0a1118;
    --primary-color-highlight:#233d54;
    --bs-body-bg: #FBFCF8;
    /*--bs-body-font-family:"Poppins", sans-serif;*/
}

/*
    @media (min-width:544px) {}
    @media (min-width:768px) {}
    @media (min-width:992px) {}
    @media (min-width:1200px) {}
    @media (min-width:1400px) {}
    @media (min-width:1600px) {}
*/

/* navigation bar */
#navbar{
    margin-bottom: 70px;
}
.navbar{
    position:fixed;
    left:0;
    top:0;
    right:0;
    background-color: rgb(255,247,231);
    z-index:4;

}


body h1{
    font-family: "Code", sans-serif;
}
body h2{
    font-family: "Code", sans-serif;
    color:#233d54;
}
body h3{
    font-family: "Code", sans-serif;
    font-size: 24px;

}
body p{
    font-family:'Poppins', sans-serif;
    font-size: 14px;

}

.bread__Crumb{
    margin-top: 120px;
    margin-left: 60px;

}

.rigs{
    padding-top: 20px;
    margin-top:40px;
    margin-bottom:50px;
}

.rigs__Black{
    padding-top: 80px;
    margin-top:80px;
    padding-bottom:50px;
}


.footer .border-highlight{
    border-top:1px solid var(--primary-color-highlight)
}
.footer
{
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}


